@model Customer
@{
	string title = ViewBag.Action + " Customer";
	ViewData["Title"] = title;
}

@section scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h2 class="mb-3">@ViewBag.Title</h2>

	<form asp-action="Edit" method="post">

		<div class="row mb-3">
			<label asp-for="FirstName" class="col-form-label col-md-2">First Name</label>
			<div class="col-md-4">
				<input asp-for="FirstName" class="form-control" />
			</div>
			<div class="col">
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="LastName" class="col-form-label col-md-2">Last Name</label>
			<div class="col-md-4">
				<input asp-for="LastName" class="form-control" />
			</div>
			<div class="col">
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="Address" class="col-form-label col-md-2">Address</label>
			<div class="col-md-4">
				<input asp-for="Address" class="form-control" />
			</div>
			<div class="col">
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="City" class="col-form-label col-md-2">City</label>
			<div class="col-md-4">
				<input asp-for="City" class="form-control" />
			</div>
			<div class="col">
				<span asp-validation-for="City" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="State" class="col-form-label col-md-2">State</label>
			<div class="col-md-4">
				<input asp-for="State" class="form-control" />
			</div>
			<div class="col">
				<span asp-validation-for="State" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="PostalCode" class="col-form-label col-md-2">Postal Code</label>
			<div class="col-md-4">
				<input asp-for="PostalCode" class="form-control" />
			</div>
			<div class="col">
				<span asp-validation-for="PostalCode" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="CountryId" class="col-form-label col-md-2">Country</label>
			<div class="col-md-4">
				<select asp-for="CountryId" class="form-select" asp-items="@(new SelectList(ViewBag.Countries, "CountryId", "Name"))">
					<option value="">select a country</option>
				</select>
			</div>
			<div class="col">
				<span asp-validation-for="CountryId" class="text-danger"></span>
			</div>
		</div>

		<div class="row mb-3">
			<label asp-for="EmailAddress" class="col-form-label col-md-2">Email</label>
			<div class="col-md-4">
				<input asp-for="EmailAddress" class="form-control" />
			</div>
			<div class="col">
				<span asp-validation-for="EmailAddress" class="text-danger"></span>
			</div>
			
		</div>
		<div class="row mb-3">
			<label asp-for="Phone" class="col-form-label col-md-2">Phone</label>
			<div class="col-md-4">
				<input asp-for="Phone" class="form-control" />
			</div>
			<div class="col">
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			
		</div>

		<input type="hidden" asp-for="CustomerId" />

		<button type="submit" class="btn btn-primary">Save</button>
		<a asp-controller="Customer" asp-action="List" class="btn btn-secondary">Cancel</a>
	</form>