@model Product
@{
	ViewData["Title"] = "Delete Product";
}
<div>
	<h2 class="mb-3">Delete Product</h2>
	<form asp-action="Delete">
		<input type="hidden" asp-for="ProductId" />
		<input type="hidden" asp-for="ProductName" />
		<p>Do you really want to delete: <br /> <strong>@Model.ProductName <br /> Code: @Model.ProductCode</strong></p>
		<button type="submit" class="btn btn-danger">Yes</button>
		<a asp-action="List" asp-controller="Product" class="btn btn-secondary">No</a>
	</form>
</div>

