@{
	ViewData["Title"] = "About";
}
<div class="bg-secondary text-white p-4">
	<h1>About</h1>
	<p>SportsPro Technical Support contantly strives to provide 
		the highest level of technical support for all products 
		in the SportsPro family.</p>
</div>