@model ChangePasswordViewModel
@{
	ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="ChangePassword" method="post">
	<div class="row mb-2">
		<label class="col-form-label col-md-2">Username:</label>
		<div class="col-md-4">
			<input asp-for="UserName" class="form-control" />
		</div>
		<div class="col">
			<span asp-validation-for="UserName" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-2">
		<label class="col-form-label col-md-2">Old Password:</label>
		<div class="col-md-4">
			<input type="password" asp-for="OldPassword" class="form-control" />
		</div>
		<div class="col">
			<span asp-validation-for="OldPassword" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-2">
		<label class="col-form-label col-md-2">New Password:</label>
		<div class="col-md-4">
			<input type="password" asp-for="NewPassword" class="form-control" />
		</div>
		<div class="col">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-2">
		<label class="col-form-label col-md-2">Confirm Password:</label>
		<div class="col-md-4">
			<input type="password" asp-for="ConfirmPassword" class="form-control" />
		</div>
		<div class="col">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-2">
		<div class="offset-2">
			<button type="submit" class="btn btn-primary">Save</button>
			<a class="btn btn-outline-dark" asp-action="Index" asp-controller="Home">Cancel</a>
		</div>
	</div>
</form>